.wordpress-content {
  @apply font-body;
}
.wordpress-content div {
  @apply flex flex-col items-center
}

.wordpress-content h1, .wordpress-content h2, .wordpress-content h3, .wordpress-content h4, .wordpress-content h5, .wordpress-content h6 {
  @apply font-heading;
}

.wordpress-content h1 {
  @apply text-4xl font-bold mb-4 mt-6;
}

.wordpress-content h2 {
  @apply text-3xl font-semibold mb-3 mt-5;
}

.wordpress-content h3 {
  @apply text-2xl font-medium mb-2 mt-4;
}

.wordpress-content h4 {
  @apply text-xl font-medium mb-2 mt-3;
}

.wordpress-content p {
  @apply mb-4 max-w-prose justify-self-center;
}

.wordpress-content ul, .wordpress-content ol {
  @apply mb-4 ml-6;
}

.wordpress-content ul {
  @apply list-disc max-w-prose;
}

.wordpress-content ol {
  @apply list-decimal max-w-prose;
}

.wordpress-content strong {
  @apply underline;
}

.wordpress-content blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic my-4;
}

.wordpress-content img {
  @apply max-w-full h-auto my-4 rounded-lg shadow-md mx-auto;
  max-width: 700px;
  width: 100%;
}

.wordpress-content h1[id]:hover,
.wordpress-content h2[id]:hover,
.wordpress-content h3[id]:hover,
.wordpress-content h4[id]:hover,
.wordpress-content h5[id]:hover,
.wordpress-content h6[id]:hover {
  text-decoration: underline;
  cursor: pointer;
}
